
body{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;     
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 40px;
    background: linear-gradient(109.6deg, rgb(223, 234, 247) 11.2%, rgb(244, 248, 252) 91.1%);
    
}
.header{

    background-position: center;
    background-color:  #f4f4f4;

    text-align: center;
    padding: 100px 0;
}
.header-message{
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color:  #f4f4f4;

    
}
.message-wrapper{
    position: relative;
    font-size: 130px;
}
span[role="bouncing-number"]{
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    display: inline-block;
    letter-spacing: 8px;
    animation: waveAnimation 1s infinite;
    animation-delay: calc(.1s * var(--index));
}
@keyframes waveAnimation{
    0%,40%,100%{
        transform:translateY(0) ;
    }
    20%{
        transform: translateY(-70px);
    }
}
.subheading-title{
    font-size: 2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    padding: 10px;
  

}
.subheading-text{
    font-size: 1em;
    color: #666;
    line-height: 1.5;
}

#carouselExampleAutoplaying{
    text-align: center;
    background: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);
    padding: 25px;
    margin: 30px;
    border-radius: 20px;
  
    
}

.main-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color:  #f4f4f4;
}

.goal-link{
    transition: transform 0.5s ease-in-out;
}
.goal-link:hover{
    background-color: blueviolet;
    cursor: pointer;
}
.goal-description{
    max-width: 60%;
}

.title{
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 10px;

}

.description{
    font-size: 1em;
    color: #666;
    line-height: 1.6;
}

.womangoal{
    max-width: 35%;
    height: auto;
    border-radius: 8px;
}

form{
    text-align: center;
}

#subheading{
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}


@keyframes progress{
    0% {--percentage: 0;}
    100% {--percentage: var(--value);}
}
@property --percentage{
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}
.progress-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color:  #f4f4f4;
    padding: 15px;
    margin: 10px;
}
.progressbar-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}
.progressbar-item:hover{
    transform: translateY(-10px);
}

div[role="progressbar"]{
    --percentage: var(--value);
    --primary: #3b82f6;
    --secondary: #93c5fd;
    --size: 100px;
   
    width: var(--size);
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
   
}
div[role="progressbar"]:hover{
    animation: progress 2s 0.5s forwards;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
    
}
div[role="progressbar"]::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: conic-gradient(var(--primary) calc(var(--percentage)* 1%),var(--secondary) 0);
    mask: radial-gradient(white 55%, transparent 0);
    mask-mode: alpha;
    -webkit-mask: radial-gradient(#0000 55%, #000 0);
    -webkit-mask-mode: alpha;
}
div[role="progressbar"]::after{
    counter-reset: percentage var(--value);
    content: counter(percentage)'%';
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: calc(var(--size)/5);
    color: var(--primary);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#progress-title{
margin-top: 10px;
font-size: 14px;
color: #333;
text-align: center;
text-transform: capitalize;
transition: color 0.3s ease;
}
#progress-title:hover{
    color: chartreuse;
}
footer{
    text-align: center;
    margin-top: 20px;
}
.dark-theme-button{
    display: block;
    margin-bottom: 10px; 
    padding-bottom: 5px ;
    background: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%); ;
    color: black;
    font-size: 15px;
    border-radius: 5px;
}
.dark-theme-button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
button{
  
    transition: all 150ms ease-in-out;
}
.dark-theme{
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);

  }
  .dark-theme a{
    color:#ee82ee;
  }
  .dark-theme .container{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); 
    color:black;
  }
  .dark-theme footer{
    color: white;
  }
